@import './config';

:root {
  --color-background: #fff;
  --color-dark-text: #000;
  --color-dark-text-heading: #292A2B;
  --color-light-text: #fff;
  --color-primary: #142346;

  --font-base: #{$font-base-size};
  --font-family-sans: "Inter", Helvetica, Arial, sans-serif
}